
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <main class="main" id="wishlist-list">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Accueil</a>
                    <span></span> Boutique <span></span> Filtrer
                </div>
            </div>
        </div>
        <div class="container mb-30 mt-50">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="mb-50">
                        <h1 style="text-align: center; margin-bottom: 10px;" class="heading-2 mb-10">Vos Favories</h1>
                        <h6 style="text-align: center; margin-bottom: 10px; font-size: 15px;" class="text-body">Il y'a <span class="text-brand">{{ wishlist.count }}</span> product{{ wishlist.count|pluralize:"s" }} dans cette liste</h6>
                    </div>
                    <div class="table-responsive shopping-summery">

                        <div>
                            <section id="cart" class="border p-md-4" style="border: none; border-radius: 20px; margin-bottom: 8px;">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>Supprimer</td>
                                            <td>Image</td>
                                            <td>Nom du produit</td>
                                            <td>Prix</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for w in w %}
                                        <tr>
                                            <td class="action text-center" data-title="Supprimer">
                                                <button type="button" style="border: none; background: none;" data-wishlist-product="{{ w.id }}"  class="text-body delete-wishlist-product"><i class="fi-rs-trash"></i></button>
                                            </td>
                                        
                                            <td class="image product-thumbnail pt-40">
                                                {% if w.product.pid %}
                                                    {% if w.product.pid %}
                                                        <a class="product-name mb-10 text-heading" href="{% url 'core:product-detail' w.product.pid %}"> <img src="{{w.product.image|storage_url}}" alt="image de {{ w.product.title }}"></a>
                                                    {% else %}
                                                        <img src="{{w.product.image|storage_url}}" alt="image de {{ w.product.title }}">
                                                    {% endif %}
                                                {% else %}
                                                    <img src="{{w.product.image|storage_url}}" alt="image de {{ w.product.title }}">
                                                {% endif %}
                                            </td>
                                            <td><h6 class="mb-5">
                                                {% if w.product.pid %}
                                                    {% if w.product.pid %}
                                                        <a class="product-name mb-10 text-heading" href="{% url 'core:product-detail' w.product.pid %}">{{ w.product.title }}</a>
                                                    {% else %}
                                                        {{ w.product.title }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ w.product.title }}
                                                {% endif %}
                                            </h6></td>
                                            <td class="price" data-title="Prix unitaire"><h4 class="text-body">{{w.product.price|floatformat:0}} Fcfa</h4></td>
                                            <td class="text-center detail-info" data-title="Status">
                                                <h6>En Stock</h6>
                                            </td>
                                            <td class="text-right" data-title="Voir">
                                                {% if w.product.pid %}
                                                    {% if w.product.pid %}
                                                        <a style="text-align: center;" href="{% url 'core:product-detail' w.product.pid %}" class="btn btn-md">Voir</a>
                                                    {% else %}
                                                        <span class="btn btn-md disabled">Voir</span>
                                                    {% endif %}
                                                {% else %}
                                                    <span class="btn btn-md disabled">Voir</span>
                                                {% endif %}
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </section>
                        </div>
                        <!-- 
                        <table class="table table-wishlist">
                            <thead>
                                <tr class="main-heading">
                                    <th class="custome-checkbox start pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="" />
                                        <label class="form-check-label" for="exampleCheckbox11"></label>
                                    </th>
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>
                                    <th class="text-center" scope="col">Stock Status</th>
                                    <th scope="col">Action</th>
                                    <th class="text-center" scope="col" class="end">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for w in w %}

                                
                                
                                <tr class="pt-30">
                                    <td class="custome-checkbox pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="" />
                                        <label class="form-check-label" for="exampleCheckbox1"></label>
                                    </td>
                                    <td class="image product-thumbnail pt-40"><img src="{{w.product.image|storage_url}}" alt="#" /></td>
                                    <td class="product-des product-name">
                                        <h6>
                                            {% if w.product.pid %}
                                                <a class="product-name mb-10" href="{% url 'core:product-detail' w.product.pid %}">{{ w.product.title|truncatechars:30 }}</a>
                                            {% else %}
                                                {{ w.product.title|truncatechars:30 }}
                                            {% endif %}
                                        </h6>
                                        
                                    </td>
                                    <td class="price d-fdlex fs-1" data-title="Price">
                                        <span class="text-brand current-product-price-{{ w.product.id }}">{{ w.product.price }}</span><span class="text-brand"> Fcfa</span>
                                    </td>
                                    <td class="text-center detail-info" data-title="Stock">
                                        <span class="stock-status in-stock mb-0"> {% if w.product.in_stock %} In Stock {% else %} Out of Stock {% endif %}</span>
                                    </td>
                                    <td class="text-right" data-title="">


                                        <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ w.product.id }}">
                                        <input type="hidden" class="product-pid-{{ w.product.id }}" value="{{ w.product.pid }}">
                                        <input type="hidden" class="product-image-{{ w.product.id }}" value="{{ w.product.image|storage_url }}">
                                        <input type="hidden" class="product-id-{{ w.product.id }}" value="{{ w.product.id }}">
                                        <input type="hidden" class="product-title-{{ w.product.id }}" value="{{ w.product.title }}">

                                        <button class="btn btn-sm add-to-cart-btn" data-index="{{ w.product.id }}">Add to cart</button>
                                    </td>
                                    <td class="action text-center" data-title="Remove">
                                        <button style="border: none; background: none;" data-wishlist-product="{{ w.id }}"  class="text-body delete-wishlist-product"><i class="fi-rs-trash"></i></button>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td><p>Nothing in wishlist yet...</p></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table> -->
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
    