{% load static %}

<link rel="stylesheet" href="{% static 'figure.css' %}">
<section id="figure" class="section-p1">
    <div class="figure-box">
        <img src="{% static 'assets/imgs/features/f1.png' %}" alt="">
        <h6>Livraison gratuite</h6>
    </div>
    <div class="figure-box">
        <img src="{% static 'assets/imgs/features/f3.png' %}" alt="">
        <h6>Payment sécurisé</h6>
    </div>
    <div class="figure-box">
        <img src="{% static 'assets/imgs/features/f4.png' %}" alt="">
        <h6>Produits garantis</h6>
    </div>
    <div class="figure-box">
        <img src="{% static 'assets/imgs/features/f5.png' %}" alt="">
        <h6>Clients satisfaits</h6>
    </div>
    <div class="figure-box">
        <img src="{% static 'assets/imgs/features/f6.png' %}" alt="">
        <h6>Ouverte 24/7</h6>
    </div>
</section>